<!--*************************************************************************
*
*    Copyright (c) 2013 Tallan Inc.  All rights reserved. 
*
*    Use of this sample source code is subject to the terms of the Microsoft Limited Public License
*    at http://msdn.microsoft.com/en-us/cc300389.aspx#P and is provided AS-IS. 
*
*    For more information about Tallan, visit our website, http://tallan.com/.     
*
*    To see the topic that inspired this sample app, go to http://msdn.microsoft.com/en-us/library/windows/apps/jj635241. 
*
*************************************************************************-->

@model System.Web.Http.Description.IApiExplorer
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Shopping Reference App</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>API Reference</h3>
        <ul>
        @foreach (var api in Model.ApiDescriptions)
        {
            <li>
            <h5>@api.HttpMethod @api.RelativePath</h5>
            <blockquote>
            <p>@api.Documentation</p>
            @if (api.ParameterDescriptions.Count > 0)
            {
                <h6>Parameters</h6>
                <ul>
                @foreach (var parameter in api.ParameterDescriptions)
                {
                    <li>@parameter.Name: @parameter.Documentation (@parameter.Source)</li>
                }
                </ul>
            }
            </blockquote>
            </li>
        }
        </ul>
    </section>
</div>
